.login-container2{
    padding-top: 5px;
    padding:10px 20px 10px 20px;
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: rgb(250, 249, 248);
    
}
.login-container1{
    
    margin:2cm 3cm 2cm 3cm;
    position: relative;
    box-sizing: border-box;
}
.login-title{
    position: relative;
    left: 0;
    height: 40px;
    white-space: nowrap;/*文本不换行*/
}
.login-main{
    width: 600px;
    margin:0 auto;

}